html {
  margin: 0;
  padding: 0;
}
body {
  margin:0;
  padding: 0.5em;
}
h1 {
  background-color: #04468C;
  color: #FFFFFF;
  padding: 3px;
  margin: 0;
}
h2 { margin-top:3em;
    border-top: 3px solid #0000AA;
    border-bottom: 1px solid #CCCCEE}
#navigation{
  background-color:#80B0DF;
  color:#202047;
  font-family:sans-serif;
  font-size:0.8em;
  margin: 0;
  padding: 3px;
  display: block; 
}

#navigation li{
  display: inline;
  border-right: 1px solid blue;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0;
}

#navigation a{color:#202047; text-decoration: none;}
#navigation a:visited{color:#202047}
#navigation a:hover {font-weight: bold; color: red}

a:hover {color:red}

#sf-logo {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  float: right;
  z-index: 10;
}

li {
  padding: 2px;
}

#newsbox {
  float: right;
  border: 2px dashed blue;
  padding: 5px;
  margin-top: 0.5em;
}
#newsbox h3 {text-align:center; color: red}



.downloadTable th{ font-size: 110%; padding-right: 15px}
.platformDownload {font-weight: bold; }
.platformDownload td{ padding-top: 1em;}