/* --------- CSS for texstudio website ----------*/

*{ margin: 0}

html, body, #left, #right {
	height: auto;
}

html, body, #left {
	height: 100%;
	width: 100%;
}

body {
	font: normal .80em 'trebuchet ms', arial, sans-serif;
	background: #f0f0f7;
	color: #777;
}

#container {
	min-width: 41em;
	max-width: 70em;
	margin-left: auto;
	margin-right: auto;
}

#leftbar {
	background:#29003D;
	width: 13em;
	height: 100%;
	position: fixed;
}

#right {
	float: left;
	margin-left: 13em;
}

.page {
	margin: 10px;
	max-width: 650px;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	background:#FFF;
	box-shadow:5px 8px 5px #777;
}

h1, h2, h3, h4, h5, h6  {
	font: normal 150% 'century gothic', 'URW Gothic L', arial, sans-serif;
	color: #43423F;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
}

h1 {
	font-size: 225%;
	text-align: center;
}	
  
p, ul {
	line-height: 1.7em;
	padding-bottom: 20px;
}

td {
	vertical-align: top;
}

.img-right {
	float: right;
	margin-left: 2em;
	margin-bottom: 1em;
	border-style: none;
	-moz-box-shadow: 0px 10px 5px -5px;
	-webkit-box-shadow: 0px 10px 5px -5px;
	box-shadow: 0px 10px 5px -5px #7A0BB7;
	}
	
.img-block-right {
	float: right;
	margin-left: 2em;
	margin-bottom: 1em;
	border-style: none;
	text-align: center;
}

.img-block-right img{
	margin-bottom: 1em;
	border-style: solid;
	-moz-box-shadow: 0px 10px 5px -5px;
	-webkit-box-shadow: 0px 10px 5px -5px;
	box-shadow: 0px 10px 5px -5px #7A0BB7;
}
.img-block-right a:hover {
	text-decoration: none;
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.more, .less {
	text-align: center;
	color: #7A0BB7;
}

.news td {
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}

.newsdate {
	color: #000;
	padding: 2px 10px 2px 0px;
}

/* use css to show more news on hover */
#hiding-box .more {display: block}
#hiding-box:hover .more {display: none}
#hiding-box .hiddentext {display: none}
#hiding-box .less {display: none}
#hiding-box:hover .hiddentext {display: block}
#hiding-box-scripted .more, #hiding-box-scripted .less {cursor: pointer}

.platformDownload  td {
	font: normal 150% 'century gothic', 'URW Gothic L', arial, sans-serif;
	color: #43423F;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
}

.downloadTable th{
	font-size: 110%;
	padding-right: 10px;
	text-align: left;
}


/* This imageless css button was generated by CSSButtonGenerator.com */
.downloadButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #A15DBA;
	-webkit-box-shadow:inset 0px 1px 0px 0px #A15DBA;
	box-shadow:inset 0px 1px 0px 0px #A15DBA;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9413BF), color-stop(1, #5A008C) );
	background:-moz-linear-gradient( center top, #9413BF 5%, #5A008C 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9413BF', endColorstr='#5A008C');
	background-color:#9413BF;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #8F2AB7;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b115cd;
}
.downloadButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b51ed0), color-stop(1, #9413BF) );
	background:-moz-linear-gradient( center top, #5A008C 5%, #9413BF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b51ed0', endColorstr='#9413BF');
	background-color:#5A008C;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.downloadButton:active {
	position:relative;
	top:1px;
}
.downloadButton:visited {
	color:#ffffff;
}

.downloadVersion {
	font-size: 10px;
	color: #FFE601;
}


/* Vote button */
.voteButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #A15DBA;
	-webkit-box-shadow:inset 0px 1px 0px 0px #A15DBA;
	box-shadow:inset 0px 1px 0px 0px #A15DBA;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9413BF), color-stop(1, #5A008C) );
	background:-moz-linear-gradient( center top, #9413BF 5%, #5A008C 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9413BF', endColorstr='#5A008C');
	background-color:#9413BF;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #8F2AB7;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 12px;
	text-align: center;
	margin: 8px;
	margin-top: 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b115cd;
}
.voteButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b51ed0), color-stop(1, #9413BF) );
	background:-moz-linear-gradient( center top, #5A008C 5%, #9413BF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b51ed0', endColorstr='#9413BF');
	background-color:#5A008C;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.voteButton:active {
	position:relative;
	top:1px;
}
.voteButton:visited {
	color:#ffffff;
}

#contributorContact {
	color: #CCC;
}

/*** navigation ***/ 

.logo {
	margin-left: auto;
	margin-right: auto;
}

#logo-area {
	margin-bottom: 3em;
	width: 100%;
}

#logo-img {
	width: 100%;
}

#logo-img img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: none;
}

#logo-text h1{
	font: normal 225% 'century gothic', 'URW Gothic L', arial, sans-serif;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	color: #777;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-align: center;
}

#logo-text h1 .logo_colour {
	color: #999;
}

#logo-text h2 {
	font: normal 96% 'century gothic', 'URW Gothic L', arial, sans-serif;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	/*color: #FFE601;*/
	/*color: #CDC090;*/
	color: #efe991;
	text-align: center;
}

#navigation-bar {
	
	border-style: solid;
	border-right-style: none;
	border-left-style: none;
	border-color: #5A008C;
	/*background: #292951;*/
background: #0a0d74; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #222222 0%, #3f43ef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#222222), color-stop(100%,#3f43ef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #222222 0%,#3f43ef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #222222 0%,#3f43ef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #222222 0%,#3f43ef 100%); /* IE10+ */
background: linear-gradient(-45deg,  #222222 0%,#3f43ef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#3f43ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

ul#navigation {
	font-family: 'century gothic', 'URW Gothic L', Arial, sans-serif;
	list-style: none;
	margin: 0;
	padding: 0;
} 
	
ul#navigation li a {
	font-size: 150%;
	line-height: 40px;
	padding-left: 1em;
	color: #f1d8ff; 
	display: block;
}

ul#navigation li.menu_active a {
	color: #FFE601;
}
ul#navigation li.menu_active {
	background: none; /*fallback for old browesers*/
	background: rgba(0, 0, 0, 0.1);
}
	
ul#navigation li a:hover {
	color: #FFE601;
	text-decoration: none;
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a { color:#7A0BB7; text-decoration:none;}
a:visited{ color: #7A0BB7;}
a:hover {
	text-decoration:none;
	background: #FFE601;
	-moz-box-shadow: 0px 0px 0.5em 0.4em #FFF inset;
	-webkit-box-shadow: 0px 0px 0.5em 0.4em #FFF inset;
	box-shadow: 0px 0px 0.5em 0.4em #FFF inset;
}


